* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #f4f4f4;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.loader {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 5px solid #ddd;
  border-top-color: #333;
  animation: rotate 1s linear infinite;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/* Hide loader */
.hidden {
  display: none;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.gallery {
  column-count: 4;
  column-gap: 18px;
}

.gallery img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  display: block;
  break-inside: avoid;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.04);
}

.paging {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paging button {
  padding: 12px 22px;
  background-color: rgb(234, 81, 104);
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  color: #f4f4f4;
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .gallery {
    column-count: 3;
  }
}

@media (max-width: 700px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .gallery {
    column-count: 1;
  }
}